html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}

body,div,span,iframe,h1,p,a,img,ul,li
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline
}

article,aside,dialog,figure,footer,header,hgroup,nav,section {
	display: block
}

table {
	border-collapse: separate;
	border-spacing: 0
}

caption,th,td {
	text-align: left;
	font-weight: normal;
	float: none !important
}

table,th,td {
	vertical-align: middle
}

blockquote,q {
	quotes: "" ""
}

a img {
	border: none
}

:focus {
	outline: 0
}

dt {
	font-weight: bold;
	text-decoration: underline
}

dd {
	margin: 0;
	padding: 0 0 0.5em 0
}


h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	text-decoration: none
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	line-height: 1
}

h1 {
	font-size: 38px
}

h2 {
	font-size: 30px
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 16px
}

h6 {
	font-size: 12px
}

.dropdown a {
	position: relative;
	display: block;
	z-index: 10
}

.dropdown li {
	width: auto;
	list-style: none
}

.dropdown li a.sf-with-ul {
	padding-right: 20px
}
.dropdown li ul {
	position: absolute;
	left: -999em;
	z-index: 10
}

.dropdown li:hover, li.hover {
	position: static
}

.dropdown li:hover ul ul,UNUSED.dropdown li.sfhover ul ul,.dropdown li:hover ul ul ul ul,UNUSED.dropdown li.sfhover ul ul ul ul,.dropdown li:hover ul ul ul ul ul,UNUSED.dropdown li.sfhover ul ul u ull ul
	{
	left: -999em
}

.dropdown li:hover ul,UNUSED.dropdown li.sfhover ul,.dropdown li li:hover ul,UNUSED.dropdown li li.sfhover ul,.dropdown li li li:hover ul,UNUSED.dropdown li li li.sfhover ul,.dropdown li li li li:hover ul,UNUSED.dropdown li li li li.sfhover ul,.dropdown li li li li li:hover ul,UNUSED.dropdown li li li li li.sfhover ul
	{
	left: auto
}

.sidebarTabs_title {
	padding-left: 0 !important;
	width: 100%;
	overflow: hidden;
	background: url(images/framework/bgr_sidebarTabs_title.gif) repeat-x
		bottom
}

.sidebarTabs_title li {
	float: left;
	font-size: 12px;
	color: #000
}

.sidebarTabs_title li a:hover {
	text-decoration: none
}

.sidebarTabs_body ul li a:hover {
	color: #333;
	text-decoration: underline
}

.widget_rss a.rsswidget:hover {
	color: #ff4b33
}

img {
	height: auto;
	max-width: 960px;
	width: auto
}

.gallery img {
	border: 10px solid #f1f1f1
}

.gallery br+br {
	display: none
}

.attachment img {
	display: block;
	margin: 0 auto
}

label {
	font-weight: bold;
	cursor: pointer
}

fieldset {
	padding: 0 14px 14px 14px;
	margin: 0 0 15px 0;
	border: 1px solid #ccc
}

legend {
	font-weight: bold;
	font-size: 1.2em;
	margin-top: -2px;
	margin-bottom: 10px
}

fieldset,#IE8#HACK {
	padding-top: 14px
}

legend,#IE8#HACK {
	margin-top: 0;
	margin-bottom: 0
}

input.span-1,textarea.span-1 {
	width: 218px
}

input.span-2,textarea.span-2 {
	width: 258px
}

input.span-3,textarea.span-3 {
	width: 458px
}
input[type=text]:focus,input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus
	{
	border-color: #666
}
input[type=text],input[type=password],input.text,input.title,textarea,select
	{
	margin: 0.5em 0
}

input.text,input.title {
	padding: 5px
}

input.title {
	font-size: 15px
}

textarea {
	padding: 5px;
	height: 200px
}
.error,.alert {
	background: #fbe3e4;
	color: #8a1f11;
	border-color: #fbc2c4
}

.notice {
	background: #fff6bf;
	color: #514721;
	border-color: #ffd324
}

.success {
	background: #e6efc2;
	color: #264409;
	border-color: #c6d880
}

.info {
	background: #d5edf8;
	color: #205791;
	border-color: #92cae4
}
button {
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px
}

button[type] {
	padding: 4px 10px 4px 7px;
	line-height: 17px
}

*:first-child+html button[type] {
	padding: 4px 10px 3px 7px
}

button:hover,a.button:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #369
}
UNUSEDbody .positive {
	color: #529214
}

a.positive:hover,button.positive:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214
}

a.negative:hover,button.negative:hover {
	background-color: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19
}


div.wp-forecast-curr-head {
	visibility: hidden !important;
}
